In [1]:
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import time
import random
from selenium.webdriver.common.keys import Keys
from datetime import datetime
import re

### Web Scraping

### "Machine Learning"

In [3]:
# level
level = str(input("Enter experience level(entry/mid/senior): ")).lower()+'_level'

# location
location = str(input("Enter location: ")).lower().replace(' ','+')

# job query
query = str(input("Enter keywords: ")).lower().replace(' ','+')

url_link = 'https://www.indeed.com/jobs?q='+query+'&l='+location+'&explvl='+level
print(f'Your search url is ready: {url_link}')

Enter experience level(entry/mid/senior):  entry
Enter location:  Washington dc
Enter keywords:  machine learning

Your search url is ready: https://www.indeed.com/jobs?q=machine+learning&l=washington+dc&explvl=entry_level

In [4]:
location = 'Washington, DC'
level = 'entry_level'
url_link = 'https://www.indeed.com/jobs?q='+query+'&l='+location+'&explvl='+level

In [5]:
url_link

'https://www.indeed.com/jobs?q=machine+learning&l=Washington, DC&explvl=entry_level'

In [7]:
# Store pages in a table called postings
machine_learning = pd.DataFrame(columns=['title','location','company','urgent','job_description','date_released','job_ID'])
driver = webdriver.Chrome('/Users/rashidbaset/Code/chromedriver')

starttime = datetime.now()
start = time.time()
for i in range(0,30):
    time.sleep(random.randint(1,3)+random.random())

    driver.get(str(url_link)+'&sort=date&start='+str(10*i))
    search_results = driver.find_elements_by_class_name('result')

    for result in search_results:
        result_html = result.get_attribute('innerHTML')
        soup = BeautifulSoup(result_html,'html.parser')
        sleep_time = random.randint(0,2) + random.random()  
    
        # find elements we need for each clickcard
        ## Job title
        try:
            job_title = soup.find('a',{'class':'jobtitle'}).text.replace('\n','')
        except:
            job_title = None

        ## Job location
        try:
            job_location = soup.find('',{'class':'location'}).text.split(',')[0]
        except:
            job_location = None

        ## Company
        try:
            company = soup.find('',{'class':'company'}).text.replace('\n','')
        except:
            company = None

        ## Date released
        try:
            release_date = soup.find('',{'class':'date'}).text.replace('\n','')
        except:
            release_date = None

        ## job description
        try:
            summary = result.find_elements_by_class_name('summary')[0]
            summary.click()
        except:
            webdriver.ActionChains(driver).send_keys(Keys.ESCAPE).perform()
            summary = result.find_elements_by_class_name('title')[0]
            summary.click()
            
        try:
            driver.implicitly_wait(5)
            jd = driver.find_element_by_id('vjs-desc').text.strip()
            print('page '+str(i)+' jd')
        except:
            jd = None
            print('page '+str(i)+' failed')
        
        ## Job ID
        jobID = driver.find_element_by_css_selector("div.jobsearch-SerpJobCard.unifiedRow.row.result.clickcard.vjs-highlight").get_attribute('id')

        ## Urgent or not
        try:
            urgent = driver.find_element_by_class_name('serpvj-UrgentlyHiringMessage-text').text
        except:
            urgent = None

        machine_learning = machine_learning.append({'title': job_title,'location':job_location,'company':company,\
                                    'job_description':jd,'urgent':urgent,'date_released':release_date,'job_ID':jobID},ignore_index=True)

driver.close()
end = time.time()

print('Finished')
print('start from time:'+str(starttime))
print(f"Runtime of the program is {end - start}")

page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 0 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 1 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 2 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 3 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 4 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 5 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 6 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 7 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 8 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 9 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 10 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 11 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 12 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 13 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 14 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 15 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 16 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 17 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 18 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 19 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 20 jd
page 21 jd
page 21 jd
page 21 jd
page 21 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 22 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 23 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 24 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 25 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 26 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 27 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 28 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
page 29 jd
Finished
start from time:2020-07-30 17:01:14.494196
Runtime of the program is 2386.6879007816315

### "Product Analyst"

Above coded was repeated for "Product Analyst", removed for readability.

### "Data Scientist"

Above coded was repeated for "Product Analyst", removed for readability.

### "Data Science"

In [8]:
# Taking a look at the df
data_science

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID
0,0,Health Data Scientist,Washington,"US News & World Report ,L.P.",NaN,U.S. News & World Report is a digital-first me...,Today,p_a74e849331a2950c
1,1,Data Engineer (ETL/DWH/Python/SQL) - Remote/Te...,United States,Education Analytics,NaN,No H1B or OPT candidates please\nTelecommuting...,Today,pj_298f087c48235f34
2,2,Data Research Analyst - Georgetown University ...,Washington,Georgetown University,NaN,Located in a historic neighborhood in the nati...,Today,p_bba3783c0a4f83df
3,3,Data Science Intern,Gaithersburg,Adventist HealthCare,NaN,Support Center\nBusiness Intelligence internsh...,1 day ago,p_93453484319bfc39
4,4,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,1 day ago,p_1ab56b255906fdcc
...,...,...,...,...,...,...,...,...
437,437,Graduate Studies Program - Data Scientist,Washington,Central Intelligence Agency,NaN,As a Data Scientist Graduate Intern for the CI...,30+ days ago,p_cdf4488bd98e6a46
438,438,Data Scientist,Washington,Central Intelligence Agency,NaN,"As a Data Scientist for the CIA, you will orga...",30+ days ago,p_f137b78524037d97
439,439,Human Resources Analyst,Washington,Central Intelligence Agency,NaN,As a Human Resources (HR) Analyst with the CIA...,30+ days ago,p_9e92bb97c4448781
440,440,Undergraduate Internship/Co-op Program - Data ...,Washington,Central Intelligence Agency,NaN,As a Data Scientist Undergraduate Intern for t...,30+ days ago,p_4df5e9a053f32646
441,441,"Business Analyst, Top Secret",Columbia,Tsource,NaN,"Business Analyst, Top Secret\nTsource, LLC is ...",30+ days ago,p_2d133a6417fd8be9

### "Data Analyst"

In [18]:
# Taking a look at df
data_analyst.tail()

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID
1396,1396,Data Scientist,Columbia,eureka strategic consulting,NaN,NaN,30+ days ago,p_22d7cfc1cea25b36
1397,1397,Graduate Studies Program - Data Scientist,Washington,Central Intelligence Agency,NaN,NaN,30+ days ago,p_cdf4488bd98e6a46
1398,1398,Data Scientist,Washington,Central Intelligence Agency,NaN,NaN,30+ days ago,p_f137b78524037d97
1399,1399,Undergraduate Internship/Co-op Program - Data ...,Washington,Central Intelligence Agency,NaN,NaN,30+ days ago,p_4df5e9a053f32646
1400,1400,Undergraduate Internship/Co-op Program - Intel...,Washington,Central Intelligence Agency,NaN,NaN,30+ days ago,p_59aa1e9758098a81

### Dataframe summaries for "Machine Learning", "Product Analyst", "Data Scientist", "Data Science", "Data Analyst"

In [283]:
machine_learning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       439 non-null    int64
 1   title            439 non-null    object
 2   location         439 non-null    object
 3   company          439 non-null    object
 4   urgent           2 non-null      object
 5   job_description  439 non-null    object
 6   date_released    439 non-null    object
 7   job_ID           439 non-null    object
dtypes: int64(1), object(7)
memory usage: 27.6+ KB

In [282]:
product_analyst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       450 non-null    int64
 1   title            450 non-null    object
 2   location         450 non-null    object
 3   company          450 non-null    object
 4   urgent           4 non-null      object
 5   job_description  450 non-null    object
 6   date_released    450 non-null    object
 7   job_ID           450 non-null    object
dtypes: int64(1), object(7)
memory usage: 28.2+ KB

In [281]:
data_scientist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       446 non-null    int64
 1   title            446 non-null    object
 2   location         446 non-null    object
 3   company          446 non-null    object
 4   urgent           0 non-null      float64
 5   job_description  446 non-null    object
 6   date_released    446 non-null    object
 7   job_ID           446 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 28.0+ KB

In [279]:
data_science.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       442 non-null    int64
 1   title            442 non-null    object
 2   location         442 non-null    object
 3   company          442 non-null    object
 4   urgent           0 non-null      float64
 5   job_description  442 non-null    object
 6   date_released    442 non-null    object
 7   job_ID           442 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 27.8+ KB

In [278]:
data_analyst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401 entries, 0 to 1400
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1401 non-null   int64
 1   title            1401 non-null   object
 2   location         1401 non-null   object
 3   company          1401 non-null   object
 4   urgent           4 non-null      object
 5   job_description  902 non-null    object
 6   date_released    1401 non-null   object
 7   job_ID           1401 non-null   object
dtypes: int64(1), object(7)
memory usage: 87.7+ KB

### Data Cleaning

In [47]:
frame = [data_analyst,data_science,data_scientist,machine_learning,product_analyst]

In [48]:
all_postings = pd.concat(frame)

In [49]:
all_postings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3178 entries, 0 to 449
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3178 non-null   int64
 1   title            3178 non-null   object
 2   location         3178 non-null   object
 3   company          3178 non-null   object
 4   urgent           10 non-null     object
 5   job_description  2679 non-null   object
 6   date_released    3178 non-null   object
 7   job_ID           3178 non-null   object
dtypes: int64(1), object(7)
memory usage: 223.5+ KB

In [50]:
all_postings.reset_index(drop=True,inplace=True)

In [51]:
# Overlapping job postings 
postings = all_postings.drop_duplicates()
postings.reset_index(inplace=True,drop=True)

In [52]:
postings

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID
0,0,Data Analyst - Junioir to Mid-level,Washington,Subsidium,NaN,"Crisis1, (www.crisis1.com), is a Center for Ve...",Just posted,p_9986cb309aee5d26
1,1,"Management and Program Analyst, GS-0343-13 (MP)",Washington,US Department of Education,NaN,Duties\nSummary\nThis position is located in t...,Just posted,p_41fd2a51183bd8ac
2,2,Management and Program Analyst,Fort Belvoir,US Department of the Army,NaN,Duties\nSummary\nAbout the Position: Serves as...,Just posted,p_48e491d32488ffa1
3,3,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,Today,p_1ab56b255906fdcc
4,4,Junior Business Analyst,Washington,CSC (Corporation Service Company),NaN,The safety and security of CSC’s current and p...,Today,p_0a70d7a2ab829e5d
...,...,...,...,...,...,...,...,...
3159,445,China Analyst - Subject Matter Expert,Arlington,Thresher,NaN,Company Description\nThresher. Thresher helps ...,30+ days ago,p_28e7220dd7f65da8
3160,446,Foreign Military Sales (FMS) Analyst - Jr,Washington,SBG Technology Solutions,NaN,Foreign Military Sales (FMS) Analyst\n\nSBG Te...,30+ days ago,p_b0c44553ece09e08
3161,447,Emergency Management Specialist,Washington,US Department of the Interior,NaN,Duties\nSummary\nThe Department of the Interio...,30+ days ago,p_7a9bb0b17f50ea17
3162,448,Information Technology Specialist (INFOSEC),Washington,US Department of Homeland Security,NaN,Duties\nSummary\nAny offers of employment made...,30+ days ago,p_8e7d40a4e98a27b4
3163,449,Client Support Analyst,Washington,Aristotle,NaN,The Client Support Analyst provides phone and ...,30+ days ago,p_d0674fb58937760a

### Processing ID

In [53]:
postings['job_ID'] = [x.split('_')[1] for x in postings.job_ID]

<ipython-input-53-ffaebe8d1b0b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postings['job_ID'] = [x.split('_')[1] for x in postings.job_ID]

In [54]:
# Create a url column so I can relate back to the webpage
postings['url'] = [url_link+'&vjk='+x for x in postings.job_ID]

<ipython-input-54-376907edd1f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postings['url'] = [url_link+'&vjk='+x for x in postings.job_ID]

In [55]:
postings

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID,url
0,0,Data Analyst - Junioir to Mid-level,Washington,Subsidium,NaN,"Crisis1, (www.crisis1.com), is a Center for Ve...",Just posted,9986cb309aee5d26,https://www.indeed.com/jobs?q=machine+learning...
1,1,"Management and Program Analyst, GS-0343-13 (MP)",Washington,US Department of Education,NaN,Duties\nSummary\nThis position is located in t...,Just posted,41fd2a51183bd8ac,https://www.indeed.com/jobs?q=machine+learning...
2,2,Management and Program Analyst,Fort Belvoir,US Department of the Army,NaN,Duties\nSummary\nAbout the Position: Serves as...,Just posted,48e491d32488ffa1,https://www.indeed.com/jobs?q=machine+learning...
3,3,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,Today,1ab56b255906fdcc,https://www.indeed.com/jobs?q=machine+learning...
4,4,Junior Business Analyst,Washington,CSC (Corporation Service Company),NaN,The safety and security of CSC’s current and p...,Today,0a70d7a2ab829e5d,https://www.indeed.com/jobs?q=machine+learning...
...,...,...,...,...,...,...,...,...,...
3159,445,China Analyst - Subject Matter Expert,Arlington,Thresher,NaN,Company Description\nThresher. Thresher helps ...,30+ days ago,28e7220dd7f65da8,https://www.indeed.com/jobs?q=machine+learning...
3160,446,Foreign Military Sales (FMS) Analyst - Jr,Washington,SBG Technology Solutions,NaN,Foreign Military Sales (FMS) Analyst\n\nSBG Te...,30+ days ago,b0c44553ece09e08,https://www.indeed.com/jobs?q=machine+learning...
3161,447,Emergency Management Specialist,Washington,US Department of the Interior,NaN,Duties\nSummary\nThe Department of the Interio...,30+ days ago,7a9bb0b17f50ea17,https://www.indeed.com/jobs?q=machine+learning...
3162,448,Information Technology Specialist (INFOSEC),Washington,US Department of Homeland Security,NaN,Duties\nSummary\nAny offers of employment made...,30+ days ago,8e7d40a4e98a27b4,https://www.indeed.com/jobs?q=machine+learning...
3163,449,Client Support Analyst,Washington,Aristotle,NaN,The Client Support Analyst provides phone and ...,30+ days ago,d0674fb58937760a,https://www.indeed.com/jobs?q=machine+learning...

In [21]:
url_link

'https://www.indeed.com/jobs?q=machine+learning&l=Washington, DC&explvl=entry_level'

### Processing Date

In [56]:
# We keep only postings released within 30 days
postings = postings[postings['date_released']!='30+ days ago']
postings.reset_index(inplace=True,drop=True)

In [57]:
postings

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID,url
0,0,Data Analyst - Junioir to Mid-level,Washington,Subsidium,NaN,"Crisis1, (www.crisis1.com), is a Center for Ve...",Just posted,9986cb309aee5d26,https://www.indeed.com/jobs?q=machine+learning...
1,1,"Management and Program Analyst, GS-0343-13 (MP)",Washington,US Department of Education,NaN,Duties\nSummary\nThis position is located in t...,Just posted,41fd2a51183bd8ac,https://www.indeed.com/jobs?q=machine+learning...
2,2,Management and Program Analyst,Fort Belvoir,US Department of the Army,NaN,Duties\nSummary\nAbout the Position: Serves as...,Just posted,48e491d32488ffa1,https://www.indeed.com/jobs?q=machine+learning...
3,3,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,Today,1ab56b255906fdcc,https://www.indeed.com/jobs?q=machine+learning...
4,4,Junior Business Analyst,Washington,CSC (Corporation Service Company),NaN,The safety and security of CSC’s current and p...,Today,0a70d7a2ab829e5d,https://www.indeed.com/jobs?q=machine+learning...
...,...,...,...,...,...,...,...,...,...
1001,326,Digital Project Manager,Alexandria,Reingold Inc,NaN,"Reingold, a full-service marketing and communi...",29 days ago,6f8875db2478b7ac,https://www.indeed.com/jobs?q=machine+learning...
1002,328,Malware Analyst – Cyber Security Operations Su...,McLean,Axxum Technologies,NaN,Axxum Technologies is an up and coming technol...,29 days ago,5c9ed2f0b8c77297,https://www.indeed.com/jobs?q=machine+learning...
1003,329,Technical Writer/Editor,Arlington,US Department of Homeland Security,NaN,Duties\nSummary\nWho May Be Considered:\nU.S. ...,28 days ago,49efa3eff294cf93,https://www.indeed.com/jobs?q=machine+learning...
1004,331,Help Desk/Support Specialist,Reston,Xator Corporation,NaN,"Vaxcom Services, Inc.\nwww.vaxcom.com\nVaxcom ...",29 days ago,d53efda1eb51283a,https://www.indeed.com/jobs?q=machine+learning...
1005,332,Senior Research Scientist,Bethesda,Aledade,NaN,We are seeking new members of our Impact Analy...,28 days ago,3b198c91d92e3151,https://www.indeed.com/jobs?q=machine+learning...

In [58]:
days = []
for i in range(0,len(postings)):
    if postings.date_released[i]=='Just posted':
        days_ago = 0
    elif postings.date_released[i]=='Today':
        days_ago = 0
    else:
        days_ago = int(postings.date_released[i].split(" ")[0])
    days.append(days_ago)
postings['days_ago']=days

<ipython-input-58-9a82820bc618>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postings['days_ago']=days

In [59]:
postings

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID,url,days_ago
0,0,Data Analyst - Junioir to Mid-level,Washington,Subsidium,NaN,"Crisis1, (www.crisis1.com), is a Center for Ve...",Just posted,9986cb309aee5d26,https://www.indeed.com/jobs?q=machine+learning...,0
1,1,"Management and Program Analyst, GS-0343-13 (MP)",Washington,US Department of Education,NaN,Duties\nSummary\nThis position is located in t...,Just posted,41fd2a51183bd8ac,https://www.indeed.com/jobs?q=machine+learning...,0
2,2,Management and Program Analyst,Fort Belvoir,US Department of the Army,NaN,Duties\nSummary\nAbout the Position: Serves as...,Just posted,48e491d32488ffa1,https://www.indeed.com/jobs?q=machine+learning...,0
3,3,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,Today,1ab56b255906fdcc,https://www.indeed.com/jobs?q=machine+learning...,0
4,4,Junior Business Analyst,Washington,CSC (Corporation Service Company),NaN,The safety and security of CSC’s current and p...,Today,0a70d7a2ab829e5d,https://www.indeed.com/jobs?q=machine+learning...,0
...,...,...,...,...,...,...,...,...,...,...
1001,326,Digital Project Manager,Alexandria,Reingold Inc,NaN,"Reingold, a full-service marketing and communi...",29 days ago,6f8875db2478b7ac,https://www.indeed.com/jobs?q=machine+learning...,29
1002,328,Malware Analyst – Cyber Security Operations Su...,McLean,Axxum Technologies,NaN,Axxum Technologies is an up and coming technol...,29 days ago,5c9ed2f0b8c77297,https://www.indeed.com/jobs?q=machine+learning...,29
1003,329,Technical Writer/Editor,Arlington,US Department of Homeland Security,NaN,Duties\nSummary\nWho May Be Considered:\nU.S. ...,28 days ago,49efa3eff294cf93,https://www.indeed.com/jobs?q=machine+learning...,28
1004,331,Help Desk/Support Specialist,Reston,Xator Corporation,NaN,"Vaxcom Services, Inc.\nwww.vaxcom.com\nVaxcom ...",29 days ago,d53efda1eb51283a,https://www.indeed.com/jobs?q=machine+learning...,29
1005,332,Senior Research Scientist,Bethesda,Aledade,NaN,We are seeking new members of our Impact Analy...,28 days ago,3b198c91d92e3151,https://www.indeed.com/jobs?q=machine+learning...,28

### Processing job description test

In [60]:
postings.job_description = postings.job_description.astype(str)

/Users/rashidbaset/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [62]:
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1006 non-null   int64
 1   title            1006 non-null   object
 2   location         1006 non-null   object
 3   company          1006 non-null   object
 4   urgent           6 non-null      object
 5   job_description  1006 non-null   object
 6   date_released    1006 non-null   object
 7   job_ID           1006 non-null   object
 8   url              1006 non-null   object
 9   days_ago         1006 non-null   int64
dtypes: int64(2), object(8)
memory usage: 78.7+ KB

In [63]:
# Replace all the newline symbol with space since paragraphs won't matter
postings['clean_text'] = [x.replace('\n',' ') for x in postings.job_description]

# Convert all strings to lowercase
postings.clean_text = [x.lower() for x in postings.clean_text]

# Replace all punctuations to space
postings.clean_text = [re.sub(r"[()-/:,.;@#?!&$]+\ *", " ", x) for x in postings.clean_text]

<ipython-input-63-d4591a43a6b5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postings['clean_text'] = [x.replace('\n',' ') for x in postings.job_description]
/Users/rashidbaset/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [64]:
postings

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID,url,days_ago,clean_text
0,0,Data Analyst - Junioir to Mid-level,Washington,Subsidium,NaN,"Crisis1, (www.crisis1.com), is a Center for Ve...",Just posted,9986cb309aee5d26,https://www.indeed.com/jobs?q=machine+learning...,0,crisis1 www crisis1 com is a center for veter...
1,1,"Management and Program Analyst, GS-0343-13 (MP)",Washington,US Department of Education,NaN,Duties\nSummary\nThis position is located in t...,Just posted,41fd2a51183bd8ac,https://www.indeed.com/jobs?q=machine+learning...,0,duties summary this position is located in the...
2,2,Management and Program Analyst,Fort Belvoir,US Department of the Army,NaN,Duties\nSummary\nAbout the Position: Serves as...,Just posted,48e491d32488ffa1,https://www.indeed.com/jobs?q=machine+learning...,0,duties summary about the position serves as th...
3,3,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,Today,1ab56b255906fdcc,https://www.indeed.com/jobs?q=machine+learning...,0,the challenge are you excited at the prospect ...
4,4,Junior Business Analyst,Washington,CSC (Corporation Service Company),NaN,The safety and security of CSC’s current and p...,Today,0a70d7a2ab829e5d,https://www.indeed.com/jobs?q=machine+learning...,0,the safety and security of csc’s current and p...
...,...,...,...,...,...,...,...,...,...,...,...
1001,326,Digital Project Manager,Alexandria,Reingold Inc,NaN,"Reingold, a full-service marketing and communi...",29 days ago,6f8875db2478b7ac,https://www.indeed.com/jobs?q=machine+learning...,29,reingold a full service marketing and communic...
1002,328,Malware Analyst – Cyber Security Operations Su...,McLean,Axxum Technologies,NaN,Axxum Technologies is an up and coming technol...,29 days ago,5c9ed2f0b8c77297,https://www.indeed.com/jobs?q=machine+learning...,29,axxum technologies is an up and coming technol...
1003,329,Technical Writer/Editor,Arlington,US Department of Homeland Security,NaN,Duties\nSummary\nWho May Be Considered:\nU.S. ...,28 days ago,49efa3eff294cf93,https://www.indeed.com/jobs?q=machine+learning...,28,duties summary who may be considered u s citiz...
1004,331,Help Desk/Support Specialist,Reston,Xator Corporation,NaN,"Vaxcom Services, Inc.\nwww.vaxcom.com\nVaxcom ...",29 days ago,d53efda1eb51283a,https://www.indeed.com/jobs?q=machine+learning...,29,vaxcom services inc www vaxcom com vaxcom serv...
1005,332,Senior Research Scientist,Bethesda,Aledade,NaN,We are seeking new members of our Impact Analy...,28 days ago,3b198c91d92e3151,https://www.indeed.com/jobs?q=machine+learning...,28,we are seeking new members of our impact analy...

### Customizing Job Screener

In [222]:
# Using cusotmized keyword list to match skills with job requirements
keywords = pd.read_csv('keywords_for_ranking.csv')
keywords.columns

Index(['Database', 'Python', 'R', 'Data Manipulation', 'Data Visualization',
       'Stats', 'Machine Learning', 'NLP', 'Cloud Computing', 'Deep Learning'],
      dtype='object')

In [223]:
# Function to create word lists for different skills:
def create_word_list(column):
    raw_list = column.tolist()
    cleaned_list = [x for x in raw_list if str(x) != 'nan']
    return cleaned_list

# Dictionaring to store keywords for each skill. 
keyword_lists = {} 
for i in range(0,len(keywords.columns)):
    name = str(keywords.columns[i])
    value = create_word_list(keywords[keywords.columns[i]])
    keyword_lists.update({name:value})

In [224]:
keyword_lists['Python']

['python', 'numpy', 'pandas', 'sklearn', 'scipy', 'matplotlib', 'seaborn']

In [225]:
# Check the appearance of keywords:
def count_keywords(list_name,row):
    list_to_count = [w for w in list_name if w in row]
    keyword_count = len(list_to_count)
    return keyword_count

In [226]:
# For each skill, counting keywords that appear in every job description and form new labels

keyword_label = {}
for j in keywords.columns:
    name = str(j)
    count_list = []
    for i in range(0,len(postings)):
        keyword_count = count_keywords(keyword_lists[name],postings.clean_text[i])
        count_list.append(keyword_count)
    keyword_label.update({name:count_list})

In [227]:
# Take a look at how the data is like
labels = pd.DataFrame.from_dict(keyword_label)

In [228]:
labels

,Database,Python,R,Data Manipulation,Data Visualization,Stats,Machine Learning,NLP,Cloud Computing,Deep Learning
0,1,0,1,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0
3,0,1,1,0,0,1,0,0,1,1
4,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1001,0,0,1,0,0,0,0,0,0,0
1002,0,0,1,0,0,0,0,0,0,0
1003,0,0,1,0,0,0,0,0,1,0
1004,1,0,1,0,0,0,0,0,0,0
1005,1,0,1,1,0,3,2,0,0,0

In [229]:
new_posting = pd.merge(postings, labels, left_index=True, right_index=True)
new_posting

,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID,url,days_ago,...,Database,Python,R,Data Manipulation,Data Visualization,Stats,Machine Learning,NLP,Cloud Computing,Deep Learning
0,0,Data Analyst - Junioir to Mid-level,Washington,Subsidium,NaN,"Crisis1, (www.crisis1.com), is a Center for Ve...",Just posted,9986cb309aee5d26,https://www.indeed.com/jobs?q=machine+learning...,0,...,1,0,1,0,0,0,0,0,0,0
1,1,"Management and Program Analyst, GS-0343-13 (MP)",Washington,US Department of Education,NaN,Duties\nSummary\nThis position is located in t...,Just posted,41fd2a51183bd8ac,https://www.indeed.com/jobs?q=machine+learning...,0,...,0,0,1,0,0,0,0,0,1,0
2,2,Management and Program Analyst,Fort Belvoir,US Department of the Army,NaN,Duties\nSummary\nAbout the Position: Serves as...,Just posted,48e491d32488ffa1,https://www.indeed.com/jobs?q=machine+learning...,0,...,0,0,1,0,0,0,0,0,0,0
3,3,"Data Analyst, Junior",Washington,Booz Allen Hamilton,NaN,The Challenge:\nAre you excited at the prospec...,Today,1ab56b255906fdcc,https://www.indeed.com/jobs?q=machine+learning...,0,...,0,1,1,0,0,1,0,0,1,1
4,4,Junior Business Analyst,Washington,CSC (Corporation Service Company),NaN,The safety and security of CSC’s current and p...,Today,0a70d7a2ab829e5d,https://www.indeed.com/jobs?q=machine+learning...,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,326,Digital Project Manager,Alexandria,Reingold Inc,NaN,"Reingold, a full-service marketing and communi...",29 days ago,6f8875db2478b7ac,https://www.indeed.com/jobs?q=machine+learning...,29,...,0,0,1,0,0,0,0,0,0,0
1002,328,Malware Analyst – Cyber Security Operations Su...,McLean,Axxum Technologies,NaN,Axxum Technologies is an up and coming technol...,29 days ago,5c9ed2f0b8c77297,https://www.indeed.com/jobs?q=machine+learning...,29,...,0,0,1,0,0,0,0,0,0,0
1003,329,Technical Writer/Editor,Arlington,US Department of Homeland Security,NaN,Duties\nSummary\nWho May Be Considered:\nU.S. ...,28 days ago,49efa3eff294cf93,https://www.indeed.com/jobs?q=machine+learning...,28,...,0,0,1,0,0,0,0,0,1,0
1004,331,Help Desk/Support Specialist,Reston,Xator Corporation,NaN,"Vaxcom Services, Inc.\nwww.vaxcom.com\nVaxcom ...",29 days ago,d53efda1eb51283a,https://www.indeed.com/jobs?q=machine+learning...,29,...,1,0,1,0,0,0,0,0,0,0
1005,332,Senior Research Scientist,Bethesda,Aledade,NaN,We are seeking new members of our Impact Analy...,28 days ago,3b198c91d92e3151,https://www.indeed.com/jobs?q=machine+learning...,28,...,1,0,1,1,0,3,2,0,0,0

In [230]:
new_posting.reset_index(inplace=True)

In [231]:
for i in keywords.columns:
    print(new_posting.groupby(str(i)).agg({'index':len}))

          index
Database
0           748
1           194
2            39
3            21
4             2
5             2
        index
Python
0         740
1         245
2          11
3          10
   index
R
0    128
1    874
2      4
                   index
Data Manipulation
0                    932
1                     67
2                      7
                    index
Data Visualization
0                     886
1                     107
2                      11
4                       2
       index
Stats
0        770
1        178
2         44
3         10
4          3
5          1
                  index
Machine Learning
0                   880
1                   105
2                    10
3                    11
     index
NLP
0      930
1       44
2       11
3        9
4        8
5        4
                 index
Cloud Computing
0                  731
1                  200
2                   75
               index
Deep Learning
0                937
1                 44
2                 25

### Date Released

In [232]:
# If a job is newly released it means my resume would have higher exposure
new_posting['new_released'] = [2 if x <=5 else 0 if x >20 else 1 for x in new_posting.days_ago]

### Programming Language

In [233]:
new_posting['language'] = new_posting['R']+new_posting['Python']

In [234]:
# Set language == 1 if any of the 3 columns !=0
new_posting.language = [1 if x !=0 else 0 for x in new_posting.language]

In [235]:
# See what the proportion is
len(new_posting[new_posting.language==0])/len(new_posting)

0.1272365805168986

In [236]:
#new_posting.drop(columns=['language', 'job_description'], inplace=True)

In [237]:
new_posting.columns

Index(['index', 'Unnamed: 0', 'title', 'location', 'company', 'urgent',
       'job_description', 'date_released', 'job_ID', 'url', 'days_ago',
       'clean_text', 'Database', 'Python', 'R', 'Data Manipulation',
       'Data Visualization', 'Stats', 'Machine Learning', 'NLP',
       'Cloud Computing', 'Deep Learning', 'new_released', 'language'],
      dtype='object')

In [238]:
# I create a metric to flag basic data analysis skills such as data manipulation and data visualization
new_posting['basic_analytics'] = new_posting['Data Manipulation']+new_posting['Data Visualization']
new_posting.basic_analytics = [1 if x !=0 else 0 for x in new_posting.basic_analytics]
len(new_posting[new_posting.basic_analytics==0])/len(new_posting)

0.8339960238568589

In [239]:
new_posting.urgent.value_counts()

Urgently hiring    6
Name: urgent, dtype: int64

In [240]:
# Then using similar method, I made metrics for advanced analytics skills and specialized skills
## Advanced skills
new_posting['advanced_analytics'] = new_posting['Stats']+new_posting['Machine Learning']
new_posting.advanced_analytics = [1 if x !=0 else 0 for x in new_posting.advanced_analytics]
print(len(new_posting[new_posting.advanced_analytics==0])/len(new_posting))

## Specialized skills
new_posting['specialized_analytics'] = new_posting['NLP']+new_posting['Cloud Computing']+new_posting['Deep Learning']
new_posting.specialized_analytics = [1 if x !=0 else 0 for x in new_posting.specialized_analytics]
print(len(new_posting[new_posting.specialized_analytics==0])/len(new_posting))

0.6998011928429424
0.6759443339960238

In [241]:
new_posting.urgent = new_posting.urgent.fillna("0")
new_posting.urgent[new_posting.urgent == 'Urgently hiring'] = 1

<ipython-input-241-7a419c42e18c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_posting.urgent[new_posting.urgent == 'Urgently hiring'] = 1

In [251]:
new_posting.urgent.value_counts()

0    1000
1       6
Name: urgent, dtype: int64

In [219]:
## Urgent
new_posting['urgent_scored'] = new_posting['urgent']
new_posting.urgent_scored = [1 if x !=0 else 0 for x in new_posting.urgent]
print(len(new_posting[new_posting.urgent_scored==0])/len(new_posting))

0.0

In [ ]:
new_posting.urgent = new_posting.urgent.astype('int64')

In [220]:
new_posting.columns

Index(['index', 'Unnamed: 0', 'title', 'location', 'company', 'urgent',
       'job_description', 'date_released', 'job_ID', 'url', 'days_ago',
       'clean_text', 'Database', 'Python', 'R', 'Data Manipulation',
       'Data Visualization', 'Stats', 'Machine Learning', 'NLP',
       'Cloud Computing', 'Deep Learning', 'new_released', 'language',
       'basic_analytics', 'advanced_analytics', 'specialized_analytics',
       'urgent_scored'],
      dtype='object')

In [255]:
new_posting.dtypes

index                      int64
Unnamed: 0                 int64
title                     object
location                  object
company                   object
urgent                     int64
job_description           object
date_released             object
job_ID                    object
url                       object
days_ago                   int64
clean_text                object
Database                   int64
Python                     int64
R                          int64
Data Manipulation          int64
Data Visualization         int64
Stats                      int64
Machine Learning           int64
NLP                        int64
Cloud Computing            int64
Deep Learning              int64
new_released               int64
language                   int64
basic_analytics            int64
advanced_analytics         int64
specialized_analytics      int64
overall_score            float64
dtype: object

In [261]:
# Overall score
new_posting['overall_score'] = 20*new_posting.language+\
                               +7.5*(new_posting[['Data Manipulation', 'Data Visualization']].sum(axis=1))\
                               +10*(new_posting[['Stats','Machine Learning']].sum(axis=1))\
                               +5*(new_posting[['NLP', 'Cloud Computing', 'Deep Learning']].sum(axis=1))

In [262]:
new_posting['overall_score']

0       20.0
1       25.0
2       20.0
3       40.0
4       20.0
        ...
1001    20.0
1002    20.0
1003    25.0
1004    20.0
1005    77.5
Name: overall_score, Length: 1006, dtype: float64

In [263]:
final_ranking = new_posting.sort_values(by='overall_score',ascending=False).reset_index(drop=True)

In [264]:
final_ranking

,index,Unnamed: 0,title,location,company,urgent,job_description,date_released,job_ID,url,...,Machine Learning,NLP,Cloud Computing,Deep Learning,new_released,language,basic_analytics,advanced_analytics,specialized_analytics,overall_score
0,111,111,Data Analyst (Mid-Level),Springfield,National Geospatial-Intelligence Agency,0,Data Analysts apply tools and algorithms to id...,15 days ago,68f55e9d5bd53fee,https://www.indeed.com/jobs?q=machine+learning...,...,3,0,0,0,1,1,1,1,0,105.0
1,463,44,Data Analyst (Mid-Level),Springfield,National Geospatial-Intelligence Agency,0,Data Analysts apply tools and algorithms to id...,16 days ago,68f55e9d5bd53fee,https://www.indeed.com/jobs?q=machine+learning...,...,3,0,0,0,1,1,1,1,0,105.0
2,307,555,Data Analyst (Mid-Level),Springfield,National Geospatial-Intelligence Agency,0,Data Analysts apply tools and algorithms to id...,15 days ago,68f55e9d5bd53fee,https://www.indeed.com/jobs?q=machine+learning...,...,3,0,0,0,1,1,1,1,0,105.0
3,535,38,Machine Learning Engineer,Herndon,BlackSky,0,About Us:\nBlackSky is a geospatial intelligen...,8 days ago,040cf0dd3d0055d0,https://www.indeed.com/jobs?q=machine+learning...,...,3,0,2,2,1,1,1,1,1,97.5
4,445,26,Machine Learning Engineer,Herndon,BlackSky,0,About Us:\nBlackSky is a geospatial intelligen...,8 days ago,040cf0dd3d0055d0,https://www.indeed.com/jobs?q=machine+learning...,...,3,0,2,2,1,1,1,1,1,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,233,481,Machine Learning Engineer,Herndon,BlackSky,0,nan,7 days ago,040cf0dd3d0055d0,https://www.indeed.com/jobs?q=machine+learning...,...,0,0,0,0,1,0,0,0,0,0.0
1002,232,480,"Engineer, Machine Learning",Washington,Comcast,0,nan,12 days ago,b09b0e9ccb670362,https://www.indeed.com/jobs?q=machine+learning...,...,0,0,0,0,1,0,0,0,0,0.0
1003,231,479,Data Science Research Engineer,Rockville,Intelligent Automation,0,nan,8 days ago,50deaaaa85289967,https://www.indeed.com/jobs?q=machine+learning...,...,0,0,0,0,1,0,0,0,0,0.0
1004,230,478,Data Scientist,Silver Spring,4S,0,nan,6 days ago,895087718fd78e99,https://www.indeed.com/jobs?q=machine+learning...,...,0,0,0,0,1,0,0,0,0,0.0
1005,262,510,Cyber Security Data Analyst,Washington,ManTech International Corporation,0,nan,20 days ago,1ae899b12571e1a0,https://www.indeed.com/jobs?q=machine+learning...,...,0,0,0,0,1,0,0,0,0,0.0

In [266]:
ranking_table = final_ranking[final_ranking['overall_score']>=60][['company','job_description','language','basic_analytics','advanced_analytics','specialized_analytics','overall_score']]
#ranking_table

In [267]:
# Might have many job postings overlapping 
ranking_table = ranking_table.drop_duplicates()
ranking_table.reset_index(inplace=True,drop=True)

In [271]:
ranking_table

,company,job_description,language,basic_analytics,advanced_analytics,specialized_analytics,overall_score
0,National Geospatial-Intelligence Agency,Data Analysts apply tools and algorithms to id...,1,1,1,0,105.0
1,BlackSky,About Us:\nBlackSky is a geospatial intelligen...,1,1,1,1,97.5
2,Tios Capital,As a Quantitative Analyst you will work under ...,1,1,1,1,95.0
3,Fors Marsh Group,View full job description: https://formarshgro...,1,1,1,1,92.5
4,US Other Agencies and Independent Organizations,Duties\nSummary\nThis position is located in t...,1,0,1,0,90.0
5,Aledade,We are seeking new members of our Impact Analy...,1,1,1,0,77.5
6,CompuGain,JOB DESCRIPTION\nPython Developer (NLP/Data Sc...,1,0,1,1,70.0
7,Accenture,Organization: Accenture Federal Services\nLoca...,1,1,1,0,67.5
8,Booz Allen Hamilton,The Challenge:\nAre you excited at the prospec...,1,1,1,1,67.5
9,Financial Health Network,"Associate, Data, Analysis, & Reporting\nABOUT ...",1,1,1,0,67.5
10,infolob,What we’re looking for:\nCreative problem solv...,1,0,1,1,65.0
11,Infolob,What we’re looking for:\nCreative problem solv...,1,0,1,1,65.0
12,Coverent,Why Coverent?\nCoverent is a specialized consu...,1,1,0,1,62.5
13,"DSSP Consulting, Inc.","DSSP Consulting, Inc. is a rapidly growing fir...",1,0,1,0,60.0
14,CALNET INC.,"Founded in 1989, CALNET, Inc. is a privately h...",1,1,1,1,60.0
15,Øptimus Consulting,"Job Description:\nØptimus Consulting, a data s...",1,0,1,0,60.0
16,Georgetown University,Located in a historic neighborhood in the nati...,1,1,1,0,60.0
17,CAVA,"Senior Analyst, Marketing Strategy and Insight...",1,0,1,0,60.0